<!doctype html>
<html ng-app="eventsApp">
<head>
	<title>Event Registration</title>
	<link rel="stylesheet" href="/css/bootstrap.min.css" />
	<link rel="stylesheet" href="/css/app.css" />
</head>
<body ng-cloak>
	<div class="container">
		<div class="navbar">
			<div class="nav-bar-inner">
				<ul class="nav">
				</ul>
			</div>
		</div>
		<div ng-controller="EventController">
			<div class="row">
				<div class="span11">
					<h2 ng-style="myStyle" ng-bind-template="{{event.name}} {{event.date}}"></h2>
				</div>
			</div>

			<div ng-bind-html="snippet"></div>
			<div ng-bind-html-unsafe="snippet"></div>

			<div ng-show="showBool">Show here</div>
			<div ng-hide="showBool">Hide here</div>

			<div class="row">
				<div class="span3">
					<div><strong>Date:</strong> {{event.date}}</div>
					<div><strong>Time:</strong> {{event.time}}</div>
				</div>
				<div class="span4">
					<strong>Address:</strong>
					{{event.location.address}}<br/>
					{{event.location.city}}, {{event.location.country}}
				</div>
			</div>
			<hr />
			<h2>Sessions</h2>
			<ul class="thumbnails">
				<li ng-repeat="session in event.sessions">
					<div class="row">
						<div class="span0 well votingwidget">
							<div class="votingbutton" ng-click="upvoteSession(session)">
								<i class="icon-chevron-up icon-grey"></i>
							</div>
							<div class="badge badge-inverse">
								{{session.upvoteCount}}
							</div>
							<div class="votingbutton" ng-click="downvoteSession(session)">
								<i class="icon-chevron-down icon-grey"></i>
							</div>
						</div>
						<div class="span9 well">
							<h4 class="well-title">{{session.name}}</h4>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>

	<script type="text/javascript" src="/lib/jquery-1.10.1.min.js"></script>
	<script type="text/javascript" src="/lib/underscore-min.js"></script>
	<script type="text/javascript" src="/lib/bootstrap.min.js"></script>
	<script type="text/javascript" src="/lib/angular/angular.js"></script>
	<script type="text/javascript" src="/lib/angular/angular-sanitize.js"></script>
	<script type="text/javascript" src="/js/app.js"></script>
	<script type="text/javascript" src="/js/controllers/EventController.js"></script>
</body>
</html>